# Build Folder
Output/

*.jlink
dfu_images/bl_sd_settings_app.hex
dfu_images/bl_settings.hex
dfu_images/scales_application*.zip
Scales_pca10056_s140.emSession
directory_structure.xml

.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
